.to-do-list{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 4rem;
}

button{
    padding: 13px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button{
    background-color: hsl(125,47%,54%);
}

.add-button:hover{
    background-color: hsl(125, 75%, 34%) ;
}

.delete-task{
    background-color: hsl(0, 93%, 57%);
}

.delete-task:hover{
    background-color: hsl(0, 91%, 28%) ;
}

.task-up{
    background-color: hsl(206, 94%, 69%);
}

.task-up:hover{
    background-color: hsl(231, 83%, 56%) ;
}

.task-down{
    background-color: hsl(206, 94%, 69%);
}

.task-down:hover{
    background-color: hsl(231, 83%, 56%) ;
}

input[type='text'] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(206, 21%, 65%, 0.3)
}

ol{
    padding: 0;
}

li{
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(240, 248, 255, 0.826);
    border: 3px solid hsla(0, 5%, 57%, 0.309);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 80%;
    
    
}

.text{
    flex: 1;
}

.task-up, .task-down{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}